#carConatiner{
  width: 100%;
  height: 200px;
  background-color: green;
  animation-name: "dssadf";
  animation-duration: 5s;
  display: flex;
  align-items: center;
}

@keyframes dssadf {
  from{
    transform: translateX(0px);
    background-color: green;
  }
  to{
    /* transform: translateX(300px); */
    transform: rotate(90deg);
    background-color: red;
  }
}

#sun img{
  /* width: 100px; */
  height: 100px;
  background-color: red;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border-radius: 50%;
  animation-name: sun;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  /* animation-delay: 5s; */
  /* animation-direction: alternate; */
  animation-timing-function: ease-in;
}


/* from{
  background-color: red;
  transform: translateX(0px);
  position: absolute;
  left: 0px;
  bottom: 400px;
}
to{
  background-color: orange;
  transform: translateX(100%) rotate(90deg);

  position: absolute;
  right: 100px;
  bottom: 400px;
} */

@keyframes sun {


  0%{
    transform: translateX(0px) rotate(0deg);
  }
  20%{
    transform: translateX(20px) rotate(20deg)
  }
  50%{
    transform: translateX(100px) rotate(40deg)
  }
  75%{
    transform: translateX(200px) rotate(70deg)
  }
  100%{
    transform: translateX(400px) rotate(90deg)
  }
}